@media only screen and (min-width: 50px) and (max-width: 320px) {
    body {
        /* background-color: red; */
    }

    .input {
        display: none;
    }

    .navbar-items {
        border: 2px solid red;
        display: none;
    }

    .logo {
        display: none;
        margin-left: 27px;
    }
}