@media only screen and (min-width: 50px) and (max-width: 1024px) {
    .logo {
        /* border: 2px solid black; */
        margin-left: 27px;
    }

    .input {
        display: none;
    }

.navbar-items {
    border: 2px solid red;
    display: none;
}

}