@media only screen and (min-width: 320px) and (max-width: 375px) {
    body {
        /* background-color: black; */
    }

    .input {
        display: none;
    }

    .navbar-items {
        border: 2px solid red;
        display: none;
    }

    .navbar {
        display: none;
    }

    .logo {
        display: none;
    }

    .item-box {
        display: none;
    }

    .input {
        display: block;
        width: 160px;
        margin-top: 22px;
    }

    .box {
        /* border: 2px solid red; */
        text-align: center;
        margin-top: 20px;
        margin-left: 10px;
    }

    .hidden-profile {
        display: block;
        width: 28px;
        text-align: center;
    }
}