* {
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
    font-size: 12px;
    font-weight: bold;
}

a {
    color: black;
    text-decoration: none;
}

.navbar-elements {
    display: grid;
    grid-template-columns: 1fr 10fr 7fr 3fr;
    box-shadow: 0px 0px 1px rgb(158, 155, 155);
    
}

.logo {
    /* border: 2px solid black; */
    width: 120px;
    margin-top: 16px;
    margin-left: 47px;
}

.navbar {
    /* border: 2px solid red; */
}

.nav-box {
    display: flex;
    margin-top: 40px;
}

.navbar-items {
    margin-left: 40px;
    
}

.input-bar {
    /* border: 2px solid red; */

}

.input {
    background-color: rgb(242, 242, 242);
    border: 1px solid transparent;
    border-radius: 3px;
    color: rgb(109, 109, 109);
    padding-left: 15px;
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 30px;
}
.input:hover{
    /* background-color: rgb(231, 231, 231); */
    background-color: white;
    border: 1px solid rgb(126, 126, 126);
}

.three-elements {
    /* border: 2px solid red; */
}

.item-box {
    /* border: 2px solid black; */
    margin-top: 30px;
    margin-right: 50px;
}

.box {
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: 10fr 10fr 10fr;
    text-align: center;
}

.first-item{
    /* border: 2px solid black; */
    display: inline-block;
    margin-left: 30px;
    
}
.second-item{
    /* border: 2px solid black; */
    display: inline-block;
    margin-left: 30px;
}
.third-item{
    /* border: 2px solid black; */
    display: inline-block;
    margin-left: 30px;
}
.profile {
    width: 16px;
    /* border: 2px solid red; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.watchlist {
    width: 18px;
    /* border: 2px solid red; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.bag {
    width: 17px;
    /* border: 2px solid red; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}