* {
    margin: 0px;
    padding: 0px;
    font-size: 0.8vw;
}

a {
    color: black;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.left {
    display: flex;
    border: 2px solid red;
}
.left img{
    width: 10vw;
}
.left ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2vw;
}
.left .items{
    /* font-size: 1vw; */
}
.right{
    border: 2px solid red;
    display: flex;
}
.right input{
    width: 25vw;
    background-color: #eaeaea;
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 0.4vw 1vw;
}